name: "dev pipieline"
on: workflow_dispatch
permissions:
  id-token: write 
  contents: read
jobs: 
  terraform-job:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
      - name: HashiCorp - Setup Terraform
        uses: hashicorp/setup-terraform@v2.0.3
       
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          aws-region: us-east-2
          role-to-assume: arn:aws:iam::424774937280:role/github-action-role
      
        

        
