name: "dev pipieline"
on: workflow_dispatch
permissions:
  id-token: write 
  contents: read
jobs: 
  terraform-job:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
      - name: HashiCorp - Setup Terraform
        uses: hashicorp/setup-terraform@v2.0.3
       
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          aws-region: us-east-2
          role-to-assume: arn:aws:iam::424774937280:role/github-action-role
      - name: Terraform Init
        id: init
        run: terraform init -input=false
        working-directory: environments/dev  
      - name: Terraform Validate
        id: validate
        run: terraform validate -no-color
      - name: Terraform Plan
        id: plan
        run: terraform plan -no-color -input=false
        continue-on-error: true
        

        
